@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.modall
		.modal-content
			padding: 1px
			width: 98%
			height: auto
			margin: 10% auto 0
	.selected-discount
		top: -20px
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	
	header
		background: white
	.header-links-menu
		display: block
		a
			color: black

	.header-links-menu-ul
		display: none
		position: absolute
		align-items: column
		width: 100%
		left: 0
		background: #fff
		li
			padding: 15px 30px
			position: relative
			a
				color: black

		.active-li
        	&:before
            	content: ''
            	position: absolute
            	top: 28px
            	left: 10px
            	background: #17bed2
            	height: 2px
            	width: 9px

	.header-img
		img:first-child
			display: none
		img:last-child
			display: block

	.latest-products-container
		div:first-child
			margin-bottom: 10px

	.discount-items
		padding: 25px 30px

	.selected-discount
		padding: 45px 45px
    	position: absolute
    	box-shadow: 0 0 18px 1px black
    	top: -20px
    	left: -5px
    	z-index: 2 !important

	.latest-products-container-items
		img
			height: auto

	.clients
		display: block !important
		height: auto
		// padding: 100px 0 0 0


	.clients-row
		display: none !important
		width: 100%
		display: flex
		justify-content: center 

	.clients-text
		padding-bottom: 100px

	.psevdo-clients-row
		display: block

		
		
	.clients-image
		display: none
		// position: static
	.align-items-start
		display: block

	.row-showcase-img
		grid-template-columns: 1fr
		img:nth-child(1)
			grid-area: 1/1/2/2
		img:nth-child(2)
			grid-area: 2/1/3/2
			height: auto
		img:nth-child(3)
			grid-area: 3/1/4/2
			height: auto
		img:nth-child(4)
			grid-area: 4/1/5/2
			height: auto
		img:nth-child(5)
			grid-area: 5/1/6/2
			height: auto

	.animated 
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important
	/**/

	/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.kostul
		height: 399px

	.discount-item
		margin-bottom: 15px

	.latest-products-container-items
		img
			height: auto

	.showcase-img
		grid-template-columns: none
		// img:nth-child(1)
		// 	grid-column: 1/3
		// img:nth-child(2)
		// 	grid-column: 1/2

	.psevdo-clients-row
		.psevdo-clients
			padding: 60px 15px	

	.footer
		padding-top: 55px
		.footer-ul
			ul
				display: flex
				justify-content: space-around
				flex-wrap: wrap
				li
					margin-right: 10px
		.social-media
			ul
				display: flex
				justify-content: space-around

	.social-media
		ul
			display: flex
			align-items: center
			// flex-direction: column

	.modall
		.modal-content
			padding: 1px
			width: 98%
			height: auto
			margin: 10% auto 0
				

	/**/
@media only screen and (max-width : 575px)
	.selected-discount
		left: 0
		top: -25px

	.review
		margin-top: -94px
		padding-top: 94px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.footer
		.social-media
			ul
				// display: flex
				flex-direction: row
	/**/

@media only screen and (max-width : 360px)
	.main-section-content
		h1
			font-size: 40px

	.provide-products
		margin-top: -52px
		padding-top: 52px
		
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.main-section-content
		h1
			font-size: 40px

	.provide-products
		margin-top: -52px
		padding-top: 52px
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	// .header-links-menu-ul
		// display: block
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	// .container
	// 	max-width: 720px
	

	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	// .header-links-menu-ul
	// 	display: flex
	// 	justify-content: center

	// .container
	// 	max-width: 760px
	








	
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	// .container
	// 	max-width: 1140px

