@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	header
		background: white
	.header-links-menu
		display: block
		a
			color: black

	.header-links-menu-ul
		display: none
		position: absolute
		align-items: column
		width: 100%
		left: 0
		background: #fff
		li
			padding: 15px 30px
			a
				color: black
	.header-img
		img:first-child
			display: none
		img:last-child
			display: block

	.latest-products-container
		div:first-child
			margin-bottom: 10px
	/**/
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.kostul
		height: 409px

	.discount-item
		margin-bottom: 15px

	.discount-items
		padding: 40px 20px 20px 50px
		// text-align: center

	.selected-discount
		// position: relative
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	// .header-links-menu-ul
		// display: block
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	// .container
	// 	max-width: 720px
	

	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	// .container
	// 	max-width: 760px
	








	
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	// .container
	// 	max-width: 1140px

