@import "fonts"
@import "libs"
@import "base"
@import "vars"
@import "owlCarousel"


.a
    outline: 1px solid red

.b
    outline: 1px solid green

.c
    outline: 1px solid blue

.container
    // overflow: hidden

header
    position: fixed
    width: 100%
    transition: /1s
    border-bottom: 1px solid grey
    z-index: 20

* ul
    list-style-type: none
    margin: 0
    padding: 0

.header-container

.header-img
    img
        cursor: pointer
        width: 85px
        height: auto
    img:last-child
        display: none


.header-links-menu-ul
    display: flex
    li
        padding: 34px 20px
        cursor: pointer
        position: relative
        &:hover
            &:before
                content: ''
                position: absolute
                top: 45px
                left: 0
                background: #17bed2
                width: 9px
                height: 2px
                transition-duration: .3s
                transition-property: all
                transition-timing-function: cubic-bezier(.7,1,.7,1)
        a
            text-transform: uppercase
            text-decoration: none
            font-size: 13px
            font-weight: 600
            color: #fff
    li:last-child
        padding-right: 0
    .active-li
        &:before
            content: ''
            position: absolute
            top: 45px
            left: 0
            background: #17bed2
            width: 9px
            height: 2px



.header-links-menu
    display: none
    padding: 34px 0 34px 34px
    cursor: pointer
    a
        text-transform: uppercase
        text-decoration: none
        font-size: 13px
        font-weight: 600
        color: #fff
    // padding-right: 0

.main-section
    background: url(../img/main/01.jpg) no-repeat
    background-size: cover
    height: 100%
    width: 100%
    background-position: center
    // position: absolute
    h1
        font-size: 80px
        font-weight: 700
        color: #ffffff
        margin: 0 0 15px 0
        font-family: Hind, sans-serif
    p
        color: #a6a7aa
    a
        text-decoration: none
        font-size: 13px
        font-weight: 600
        padding: 15px 30px
        border: 1px solid rgba(255,255,255,.3)
        color: white
        display: inline-block
        transition: .5s
        &:hover
            color: #515769
            background: #fff
            border-color: transparent
            transition: .5s

.black-header
    transition: /1s
    background: white
    .header-img
        img:first-child
            display: none
        img:last-child
            display: block
    .header-links-menu-ul
        li
            a
                color: black

.provide-products
    padding: 100px 0 100px
    background: #fafafa
    &-content-item
        padding: 50px

.provide-products-items
    cursor: pointer
    i
        display: block
        font-size: 30px
        color: #999caa
        margin-bottom: 30px
    h2
        font-size: 22px
    p
        font-size: 15px
        font-weight: 400
        color: #a6a7aa


.provide-products-content-item
    background: #fff
    border: 2px solid #fafafa
    transition: .1s
    &:hover .provide-box
        transform: translateY(-35px)
        transition: .2s
        i
            transform: translateY(-45px)
            transition: .1s
            visibility: hidden

.latest-products
    padding: 100px 0 100px
    &-title
        margin-bottom: 40px
        padding-left: 0
        h2
            font-size: 30px
            font-weight: 700
            color: #515769
            line-height: 1.4
            margin: 0 0 15px
        p
            font-size: 15px
            font-weight: 400
            color: #a6a7aa
            // margin-bottom: 15px
    &-container-items
        // overflow: hidden
        // padding: 0
        h3
            font-size: 22px
            font-weight: 700
            color: #515769
            line-height: 1.4
            margin: 0 0 15px
        img
            width: 100%
            display: block
            max-width: 100%
            height: 217.484px
            margin-bottom: 20px
            cursor: pointer
            transition: transform .25s ease,-webkit-transform .25s ease
            &:hover
                transform: scale(1.1) translateY(-10px)
                transition: transform .25s ease,-webkit-transform .25s ease
        p
            font-size: 15px
            font-weight: 400
            color: #a6a7aa
            line-height: 1.2
            display: inline
            // margin-bottom: 15px
            // display: inline-block
        .read-more-less 
            position: relative
            display: block
            font-size: 13px
            font-weight: 600
            border: none
            text-transform: uppercase
            font-family: Hind, sans-serif
            background: transparent
            color: #999caa
            padding: 10px 0 10px 0
            margin-top: 10px
            // outline: 1px solid red
            cursor: pointer
            outline: none
            &:after
                content: ''
                position: absolute
                top: 14px
                right: -16px
                background: #17bed2
                width: 9px
                height: 2px
            &:hover
                color: #a6a7aa

.hide-text
    display: none
    p
        line-height: 1.2
        font-size: 15px
        font-weight: 400
        color: #a6a7aa
    // position: absolute

.carousel-clients, .customer-reviews-content
    overflow: hidden

.carousel
    background: #fafafa
    padding: 100px 0
    .owl-carousel
        img
            width: 190px !important
            height: auto
            margin: 0 auto
            opacity: 1
            cursor: pointer

.customer-reviews
    padding: 100px 0
    h2
        font-size: 30px
        font-weight: 700
        color: #515769
        line-height: 1.4
        margin: 0 0 15px
        font-family: Hind, sans-serif
        position: relative
    &-content
        padding-left: 32px
    &-content-items
        padding-left: 32px   
        p
            color: #a6a7aa
            span
                color: #81848f
                font-weight: 700
                font-size: 14px
            &:before
                position: absolute
                top: -20px
                left: 0
                font-size: 60px
                display: inline-block
                color: #17bed2
                content: '“'

.discount
    padding: 100px 0
    // height: 100%
    background: #fafafa
    // background: lightblue
    z-index: 2
    &-relative
        position: relative
    &-item
        position: relative
        // display: flex
        // align-content: center
        // padding: 0
        background: #fff
        border: 2px solid #fafafa
        cursor: pointer
    &-items
        // border: 2px solid #fafafa
        // border: 1px solid red
        background: #fff
        padding: 70px 45px
        i
            display: block
            font-size: 30px
            color: #999caa
            margin-bottom: 30px
        h2
            font-size: 22px
            font-weight: 700
            color: #515769
            line-height: 1.4
            margin: 0 0 15px
        p
            font-size: 15px
            font-weight: 400
            color: #a6a7aa
            margin-bottom: 15px
        ul
            margin-bottom: 50px    
        li
            position: relative
            font-size: 13px
            color: #81848f
            padding-left: 20px
            margin-bottom: 10px
            &:before
                content: ''
                position: absolute
                top: 9px
                left: 0
                background: #17bed2
                width: 9px
                height: 2px
        .choose
                font-size: 13px
                font-weight: 600
                padding: 15px 30px
                color: #515769
                background: #f3f4f5
                border-color: transparent
                border-width: 0
                line-height: 1.4
                &:hover
                    background: #000
                    color: #fff

.selected-discount
    // display: flex
    // align-content: center
    padding: 90px 45px
    position: absolute
    box-shadow: 0 0 18px 1px black
    top: -7px
    left: -5px
    z-index: 2 !important

.clients
    position: relative
    height: 400px
    overflow: hidden
    .promo-section-img-right
        position: absolute
        top: 0
        // left: 50%
        img
            height: auto
            min-width: 100%
            // vertical-align: middle

.clients-row
    height: 100%

@import "media" // Всегда в конце
